
<mat-card >
           
        <h1>How I Met Your Mother</h1>
                <p><img src="./assets/images/mother.jpg" alt="Pineapple" style="width:100px;height:100px;margin-right:15px;">
                    Ted Mosby, an architect, recounts to his children the events that led him to meet their mother. </p>
                    <p>His journey is made more eventful by the presence of his friends Lily, Marshall, Robin and Barney.</p>
                <p>  A father recounts to his children, through a series of flashbacks, the journey he and his four best friends took leading up to him meeting their mother.</p>
    </mat-card>
<br>
    <mat-card >
           
            <h1>Friends</h1>
            <p><img src="./assets/images/friends.jpg" alt="Pineapple" style="width:80px;height:80px;margin-right:15px;">
                Rachel Green, Ross Geller, Monica Geller, Joey Tribbiani, Chandler Bing and Phoebe Buffay are six 20 something year-olds, living off of one another in the heart of New York City. </p> <p>Over the course of ten years, this average group of buddies goes through massive mayhem, family trouble, past and future romances, fights, laughs, tears and surprises as they learn what it really means to be a friend.</p>

</mat-card>


<br>
    <mat-card >
           
            <h1>The Big Bang Theory</h1>
            <p><img src="./assets/images/bigbang.jpg" alt="Pineapple" style="width:100px;height:100px;margin-right:15px;">
                Leonard Hofstadter and Sheldon Cooper are both brilliant physicists working at Cal Tech in Pasadena, California. They are colleagues, best friends, and roommates, although in all capacities their relationship is always tested primarily by Sheldon's regimented, deeply eccentric, and non-conventional ways. They are also friends with their Cal Tech colleagues mechanical engineer Howard Wolowitz and astrophysicist Rajesh Koothrappali. The foursome spend their time working on their individual work projects, playing video games, watching science-fiction movies, or reading comic books. As they are self-professed nerds, all have little or no luck with women. When Penny, a pretty woman and an aspiring actress from Omaha, moves into the apartment across the hall from Leonard and Sheldon's, Leonard has another aspiration in life, namely to get Penny to be his girlfriend.</p>

</mat-card>
<br>
<mat-card >
           
        <h1>The New Glee</h1>
        <p><img src="./assets/images/glee.jpg" alt="Pineapple" style="width:100px;height:100px;margin-right:15px;">
            The New Rachel is the first episode of Glee's fourth season, and the sixty-seventh episode overall. It premiered on September 13, 2012. 
            For the fourth time, it's a brand new year at McKinley, with the loss of 9 New Directions members due to graduations and Rory's departure. Blaine, Tina, Brittany and former Vocal Adrenaline lead, Unique, are in competition to decide who's the new leader, or "The New Rachel." Back in New York, Rachel settles in at NYADA, uncomfortable with Cassandra July's dance lessons and befriends an upperclassmen, Brody Weston. Still longing for Finn after he let her leave for New York in Goodbye, she tries to move on from her heartbreak.</p> <p>In Lima, New Directions prepare to find new members and hold auditions for the Glee Club while Kurt struggles to spend time with Blaine and cope with his part-time job at The Lima Bean. </p>

</mat-card>

<br>
<mat-card >
           
        <h1>Lost</h1>

        <p><img src="./assets/images/lost.jpg" alt="Pineapple" style="width:100px;height:100px;margin-right:15px;">
            Out of the blackness, the first thing Jack senses is pain. Then burning sun. A Bamboo forest. Smoke. Screams. With a rush comes the horrible awareness that the plane he was on tore apart in mid-air and crashed on a Pacific island. From there it's a blur, as his doctor's instinct kicks in: people need his help. Stripped of everything, the 48 survivors scavenge what they can from the plane for their survival. Some panic. Some pin their hopes on rescue. A few find inner strength they never knew they had -- like Kate, who, with no medical training, suddenly finds herself suturing the doctor's wounds. Hurley - a man with a warm sense of humor despite the desperate situation - does his best to keep his cool as he helps those around him to survive. Charlie is a faded rock star who harbors a painful secret. Sayid is a Middle Eastern man who must wrestle with the racial profiling directed at him by some of his fellow survivors.</p>

</mat-card>
<br>
<mat-card >
           
        <h1>Stranger Things</h1>

        <p><img src="./assets/images/stranger.jpeg" alt="Pineapple" style="width:100px;height:100px;margin-right:15px;">
            This thrilling Netflix original drama stars Golden Globe-winning actress Winona Ryder as Joyce Byers, who lives in a small Indiana town in 1983 -- inspired by a time when tales of science fiction captivated audiences.</p> <p> When Joyce's 12-year-old son, Will, goes missing, she launches a terrifying investigation into his disappearance with local authorities. As they search for answers, they unravel a series of extraordinary mysteries involving secret government experiments, unnerving supernatural forces, and a very unusual little girl.</p>

</mat-card>