/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css'
;

.footer {
    position: fixed;
    height: 50px;
    background-color: rgba(141, 8, 48, 0.685);
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
}

